<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .button {
            background-color: red;
        }
    </style>
</head>

<body>
    <h1>Заголовок страницы h1</h1>
    <h1>Заголовок страницы2 h1</h1>
    <p>Основной текст страницы</p>
    <div class="class">
        <h2>Заголовок блока h2</h2>
        <p>Текст внутри блока</p>
    </div>
    <div class="python">
        <a href="https://example.com">ссылка куда-то</a>
    </div>
        <div class="container">
            <img src="image.jpg" alt="Описание изображения">
        </div>
    <ul>
        <p>маркерный список</p>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
    </ul>
    <ol>
        <p>номерованный список</p>
        <li>Первый пункт</li>
        <li>Второй пункт</li>
    </ol>
    <ul>
    <li>Пункт списка</li>
    </ul>
    <p>form action- для создания формы, в которую пользователи могут вводить данные.</p>
    <form action="/submit" method="POST">
        <input type="text" name="username">
        <input type="text" placeholder="Введите ваше имя">
        <button type="submit">кнопка submit</button>
    </form>
    <p>input-Элемент для ввода данных пользователем</p>
        <input type="text" placeholder="Введите ваше имя">
        <textarea></textarea>
        <button type="submit">Отправить</button>
    <p>table — Элемент для создания таблиц</p>
    <table>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
        <tr>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td>
        </tr>
        <tr>
            <td>Ячейка 5</td>
            <td>Ячейка 6</td>
        </tr>
    </table>
    <span style="color: red;">Красный текст</span>
</body>
</html>
<div></div>